.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 10vh;
}
.navigation__list {
  display: flex;
  justify-content: space-evenly;
  margin: 0 1em;
  color: var(--clr-light);
  
}
.navigation__item {
  padding: .225em .5em;
}
.navigation__icon {
  
}
.navigation__icon-logo {
  
}
.navigation__button {
  
}
