.header {
  background-image: url('../../svg/codelines.svg');
  backdrop-filter: #303030;
  background-color: #303030;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: var(--clr-light);

  display: flex;
  

  height: 60vh;
  width: 100%;
}
.header__container {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  margin-top: 10vh;
  margin-left: 2em;
}
.header__cover{
  width: 45%;
}