@import-normalize;

:root {
  --ff-primary: 'Poppins', sans-serif;
  --ff-secondary: 'Cousine', monospace;
  
  --fw-reg: 300;
  --fw-bold: 900;


  --clr-primary: #303030;
  --clr-primary-dark: #010205;
  --clr-accent: #3CAB14;
  --clr-light: #FEFEFE;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --boxShadow: 0.2em 0.25em 0.7em rgba(5,5,5, .25),
  0.125em 0.125em 0.25em rgba(0,0,0,0.15);

}

body {
  margin: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-family: var(--ff-primary);
  font-weight: var(--fw-reg);
}
/* Tipography */

h1,
h2,
h3,
h4 {
  font-family: var(--ff-secondary);
  font-weight: var(--fw-bold);
}
h1{
  font-size: var(--fs-h1);
}
h2{
  font-size: var(--fs-h2);
}
h3{
  font-size: var(--fs-h3);
}

ul {
  list-style: none;
}
p{
  font-size: var(--fs-body);
  letter-spacing: 1.2px;
  
}
a {
  text-decoration: none;
  color: inherit;
}